<div id="dashboard" class="main">
	<div class="container">
		{{#viewers}}
			<div class="viewer">
				<a href="/viewer/{{id}}" title="">
					<div class="text">
						<div class="left">
							<span>#{{hashtag}}</span>
						</div>
						<div class="right">
							{{#if last_opened}}
							<span>Last used: <span class="time">{{last_opened}}</span></span>
							{{/if}}
							<span>Created: <span class="time">{{created}}<span></span>
						</div>
					</div>
				</a>
			</div>
		{{/viewers}}
		<div class="viewer new_viewer">
			<i class="fa fa-plus"></i>
			<div class="new_viewer_form">
				<input type="text" placeholder="Hashtag">

			</div>
		</div>
	</div>
</div>
