<div id="dashboard" class="main">
	<div class="container">
		{{#viewers}}
			<div class="viewer">
				<a href="/viewer/{{id}}" title="">
					<div class="text">
						<div class="left">
							<span>#{{hashtag}}</span>
						</div>
						<div class="right">
							{{#if last_opened}}
							<span>Last used: <span class="time">{{last_opened}}</span></span>
							{{/if}}
							<span>Created: <span class="time">{{created}}<span></span>
						</div>
					</div>
				</a>
			</div>
		{{/viewers}}
	</div>
</div>
