<div id="home" class="main">
	<div id="flash">
		<div class="logo">
			<div class="overlay"></div>
			<img src="img/logo.png" alt="" />
		</div>
	</div>
	<div class="one">
		<div class="container" id="">
			<div class="left">
				<div class="filler"></div>
				<div>
					<h2>The Instagram visualizer for the big screen</h2>
					<h4>Unleash the power of social media at your event</h4>
				</div>
			</div>
			<div class="right">

			</div>
		</div>
	</div>
	<div class="two">
			<div class="container" id="">
				<div class="left">
					<div id="great-things">
						<ul>
							<li>
								<i class="fa fa-group"></i>
								<h5>Bring your event to life</h5>
								<p>
									Yamana creates a social media buzz around your event, making it visible throughout cyberspace.
								</p>
							</li>
							<li>
								<i class="fa fa-comments"></i>
								<h5>Simple and elegant design</h5>
								<p>
									Yamana creates a social media buzz around your event, making it visible throughout cyberspace.
								</p>
							</li>
							<li>
								<i class="fa fa-flash"></i>
								<h5>Built for speed</h5>
								<p>
									Built on Node.Js with Socket.io. Yamana uses the latest web technologies to enable the best experience for you!
								</p>
							</li>
						</ul>
					</div>
			 </div>
			 <div class="right">
					<div id="cinemadisplay">
						<img src="img/cinema-display.png" alt="" />
						<video src="" poster="img/feed-poster.png"></video>
					</div>
			 </div>
		</div>
	</div>
	<div class="three">

	</div>
</div>
