<div id="home" class="main">
	<div id="flash">
		<div class="logo">
			<div class="overlay"></div>
			<img src="img/logo.png" alt="" />
		</div>
	</div>
	<div class="one">
		<div class="container" id="">
			<div class="svg-container">
				<svg version="1.0" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 -50 1144.858 911.394" enable-background="new 0 0 1144.858 861.394" xml:space="preserve">
					<g>
						<line fill="none" stroke="#231F20" stroke-width="3" stroke-miterlimit="10" x1="288.965" y1="5" x2="288.965" y2="856.394"/>
						<line fill="none" stroke="#231F20" stroke-width="3" stroke-miterlimit="10" x1="572.929" y1="5" x2="572.43" y2="856.394"/>
						<line fill="none" stroke="#231F20" stroke-width="3" stroke-miterlimit="10" x1="855.896" y1="5" x2="855.896" y2="856.394"/>
					</g>
					<g>
						<g class="image-box col1">
							<line fill="none" stroke="#231F20" stroke-width="3" stroke-miterlimit="10" x1="1134.626" y1="7.191" x2="855.771" y2="7.191"/>
							<rect x="855.771" y="-275.178" fill="none" width="278.854" height="282.369"/>
						</g>
						<g class="image-box col1">
							<line fill="none" stroke="#231F20" stroke-width="3" stroke-miterlimit="10" x1="1134.626" y1="7.191" x2="855.771" y2="7.191"/>
							<rect x="855.771" y="-275.178" fill="none" width="278.854" height="282.369"/>
						</g>
						<g class="image-box col1">
							<line fill="none" stroke="#231F20" stroke-width="3" stroke-miterlimit="10" x1="1134.626" y1="7.191" x2="855.771" y2="7.191"/>
							<rect x="855.771" y="-275.178" fill="none" width="278.854" height="282.369"/>
						</g>
					</g>
					<g>
						<g class="image-box col2">
							<line fill="none" stroke="#231F20" stroke-width="3" stroke-miterlimit="10" x1="855.896" y1="7.287" x2="572.43" y2="7.287"/>
							<rect x="572.43" y="-275.082" fill="none" width="283.466" height="282.369"/>
						</g>
						<g class="image-box col2">
							<line fill="none" stroke="#231F20" stroke-width="3" stroke-miterlimit="10" x1="855.896" y1="7.287" x2="572.43" y2="7.287"/>
							<rect x="572.43" y="-275.082" fill="none" width="283.466" height="282.369"/>
						</g>
						<g class="image-box col2">
							<line fill="none" stroke="#231F20" stroke-width="3" stroke-miterlimit="10" x1="855.896" y1="7.287" x2="572.43" y2="7.287"/>
							<rect x="572.43" y="-275.082" fill="none" width="283.466" height="282.369"/>
						</g>
					</g>
					<g>
						<g class="image-box col3">
							<line fill="none" stroke="#231F20" stroke-width="3" stroke-miterlimit="10" x1="572.43" y1="7.286" x2="288.964" y2="7.286"/>
							<rect x="288.964" y="-275.083" fill="none" width="283.466" height="282.369"/>
						</g>
						<g class="image-box col3">
							<line fill="none" stroke="#231F20" stroke-width="3" stroke-miterlimit="10" x1="572.43" y1="7.286" x2="288.964" y2="7.286"/>
							<rect x="288.964" y="-275.083" fill="none" width="283.466" height="282.369"/>
						</g>
						<g class="image-box col3">
							<line fill="none" stroke="#231F20" stroke-width="3" stroke-miterlimit="10" x1="572.43" y1="7.286" x2="288.964" y2="7.286"/>
							<rect x="288.964" y="-275.083" fill="none" width="283.466" height="282.369"/>
						</g>
					</g>
					<g>
						<g class="image-box col4">
							<line fill="none" stroke="#231F20" stroke-width="3" stroke-miterlimit="10" x1="288.965" y1="7.286" x2="10.11" y2="7.286"/>
							<rect x="10.11" y="-275.083" fill="none" width="278.854" height="282.369"/>
						</g>
						<g class="image-box col4">
							<line fill="none" stroke="#231F20" stroke-width="3" stroke-miterlimit="10" x1="288.965" y1="7.286" x2="10.11" y2="7.286"/>
							<rect x="10.11" y="-275.083" fill="none" width="278.854" height="282.369"/>
						</g>
						<g class="image-box col4">
							<line fill="none" stroke="#231F20" stroke-width="3" stroke-miterlimit="10" x1="288.965" y1="7.286" x2="10.11" y2="7.286"/>
							<rect x="10.11" y="-275.083" fill="none" width="278.854" height="282.369"/>
						</g>
					</g>
					<path fill="none" stroke="#231F20" stroke-width="10" stroke-miterlimit="10" d="M1139.858,832.576
						c0,13.155-10.153,23.817-22.678,23.817H27.677C15.153,856.394,5,845.731,5,832.576V-13.991c0-13.154,10.153-23.817,22.677-23.817
						h1089.503c12.524,0,22.678,10.664,22.678,23.817V832.576z"/>
					<line fill="none" stroke="#231F20" stroke-width="10" stroke-miterlimit="10" x1="5.5" y1="7.287" x2="1139.858" y2="7.287"/>

					<circle fill="#231F20" cx="37.334" cy="-15.261" r="9.333"/>
					<circle fill="#231F20" cx="62.834" cy="-15.261" r="9.333"/>
					<circle fill="#231F20" cx="88.334" cy="-15.261" r="9.333"/>
				</svg>
			</div>
			<div class="info">
				<h2>Makes events better</h2>
			</div>
		</div>
	</div>
	<div class="two">
			<div class="container" id="">
				<div class="left">
					<div id="great-things">
						<ul>
							<li>
								<i class="fa fa-group"></i>
								<h5>Bring your event to life</h5>
								<p>
									Yamana creates a social media buzz around your event, making it visible throughout cyberspace.
								</p>
							</li>
							<li>
								<i class="fa fa-comments"></i>
								<h5>Simple and elegant design</h5>
								<p>
									Yamana creates a social media buzz around your event, making it visible throughout cyberspace.
								</p>
							</li>
							<li>
								<i class="fa fa-flash"></i>
								<h5>Built for speed</h5>
								<p>
									Built on Node.Js with Socket.io. Yamana uses the latest web technologies to enable the best experience for you!
								</p>
							</li>
						</ul>
					</div>
			 </div>
			 <div class="right">
					<div id="cinemadisplay">
						<img src="img/cinema-display.png" alt="" />
						<video src="" poster="img/feed-poster.png"></video>
					</div>
			 </div>
		</div>
	</div>
	<div class="three">

	</div>
</div>
