<div id="home" class="main">
	<div id="flash">
		<div class="logo">
			<div class="overlay"></div>
			<img src="img/logo.png" alt="" />
		</div>
	</div>
	<div class="one">
		<div class="container" id="">
			<div class="left">
				<div>
					<h2>The Instagram visualizer for the big screen</h2>
					<h4>Unleash the power of social media at your event</h4>
				</div>
			</div>
			<div class="right">

			</div>
		</div>
	</div>
		<div class="two">
			<div class="container" id="">
				<div class="left">
					<div id="great-things">
						<h3>
						</h3>
						<ul>
							<li><i class="fa fa-comments"></i><p>Simple and elegant</p></li>
							<li><i class="fa fa-flash"></i><p>Built for speed with Node.Js + Socket.io</p></li>
							<li><i class="fa fa-comments"></i><p>Best</p></li>
						</ul>
					</div>
			 </div>
			 <div class="right">
					<div id="cinemadisplay">
						<img src="img/cinema-display.png" alt="" />
						<video src="" poster="img/feed-poster.png"></video>
					</div>
			 </div>
		</div>
	</div>
</div>
