<div id="signup" class="main">
	<div id="signup-form" class="container">
		<form id="signup-dialog" action="/signup/user" method="post" accept-charset="utf-8">
			<p><h3>Sign up</h3></p>
			<p class="vg-input-wrapper vg-input-username-wrapper">
				<input class="vg-tb" type="text" name="user[name]" value="" placeholder="Your name">
			</p>
			<p class="vg-input-wrapper vg-input-email-wrapper">
				<input class="vg-tb" type="text" name="user[email]" value="" placeholder="Email">
			</p>
			<p class="vg-input-wrapper vg-input-password-wrapper">
				<input class="vg-tb" type="password" name="user[password]" value="" placeholder="Password">
			</p>
			<p class="vg-btn-wrapper vg-btn-signup-wrapper">
				<input type="submit" class="vg-btn vg-btn-green" name="" value="Create account">
			</p>
			<!--<p class="signup-or">Or sign up using</p>
			<p class="vg-btn-wrapper vg-btn-google-wrapper">
				<!--<a href="/signup/google" class="vg-btn vg-btn-google">Google</a>-->
				<!--<input type="submit" class="vg-btn vg-btn-google" name="" value="Google">
			</p>
			<p class="vg-btn-wrapper vg-btn-facebook-wrapper">
				<input type="submit" class="vg-btn vg-btn-facebook" name="" value="Facebook">
			</p>
			<p class="vg-btn-wrapper vg-btn-twitter-wrapper">
				<input type="submit" class="vg-btn vg-btn-twitter" name="" value="Twitter">
			</p>-->
		</form>
	</div>
</div>
