<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="/css/reset.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<link rel="stylesheet" href="/css/viewer.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<script src="/socket.io/socket.io.js" type="text/javascript"></script>
	<script>


	window.onload = init;

	var columns = 4;
	var cols = {
		1: false,
		2: false,
		3: false,
		4: false
	}

	var min_id_instagram;

	var socket = io.connect('http://yamana.herokuapp.com');

	socket.on('conn', function (data) {
		socket.emit('fetch', {var: window.location.pathname.split( '/' )[window.location.pathname.split( '/' ).length - 1], min_id_instagram: min_id_instagram});
	});
	socket.on('instagram', function (data) {
		var main = document.getElementById('main');

		console.log(data);

		var images = data.images;
		min_id_instagram = data.min_id_instagram;

		var sorted = images.sort(function(a, b){
	        return parseInt(a.id) - parseInt(b.id);
	    });

		showImages(sorted);
	});
	socket.on('twitter', function(data) {
		var tweet = data.tweet
		addTweet(tweet)
	})

	function showImages(sorted) {
		var i = 0;
		var interval = setInterval(function() {
			addImage(sorted[i]);
			i++;
			if (i >= sorted.length) {
				clearInterval(interval);
			}
		}, 500);
	}
	function addFakeImage() {
		var image = {
			type: 'image',
			images: {
				standard_resolution: {
					url: 'http://distilleryimage9.s3.amazonaws.com/3c62dff0a90211e38c92125e9fe3ffd9_8.jpg'
				}
			}
		}
		addImage(image);
	}
	function addFakeTweet() {
		var tweet = {
			created_at:"Thu May 21 20:17:58 +0000 2015",
			text: "So version 2 is soon out. Coolio! #yamana2",
			user: {
				screen_name: "Yamana_app",
				profile_image_url:"http://abs.twimg.com/sticky/default_profile_images/default_profile_3_normal.png"
			}
		}
		addTweet(tweet);
	}

	function addImage(image) {
		var col = getCol();
		var img = newImage(image)
		addImageToDiv(col, img);
		setTimeout(function() {
			img.classList.add('show')
		},400);
	}
	function addTweet(tweet) {
		var col = getCol();
		var tweetElem = newTweet(tweet)
		addTweetToDiv(col, tweetElem)

		setTimeout(function() {
			tweetElem.classList.add('show')
		},400);
	}

	function newImage(image) {
		var elem;

		if (image.type == 'video') {
			 elem = document.createElement('video');
			 var source = document.createElement('source');
			 var img    = document.createElement('img');

			 source.src = image.videos.standard_resolution.url
			 img.src = image.images.standard_resolution.url

			 elem.appendChild(source)
			 elem.appendChild(img)
			 elem.autoplay = true
			 elem.loop = true
			 elem.muted = true
		}
		else {
			elem = document.createElement('img');
			elem.src = image.images.standard_resolution.url
		}

		elem.classList.add('image')

		return elem;
	}
	function newTweet(tweet) {
		var elem;

		elem = document.createElement('div')
		var profile = document.createElement('div')
			var image = document.createElement('img')
			var handle = document.createElement('div')
		var tweetText = document.createElement('div')
			var text = document.createElement('div')
			var date = document.createElement('div')

		image.src = tweet.user.profile_image_url
		handle.textContent = '@' + tweet.user.screen_name

		profile.classList.add('profile')
		profile.appendChild(image)
		profile.appendChild(handle)

		text.textContent = tweet.text
		date.textContent = tweet.created_at

		tweetText.classList.add('tweet-text')
		text.classList.add('text')
		date.classList.add('date')
		tweetText.appendChild(text)
		tweetText.appendChild(date)

		elem.appendChild(profile)
		elem.appendChild(tweetText)

		elem.classList.add('tweet')

		return elem
	}

	function addImageToDiv(col, img) {
		var div = document.getElementById('col' + col)
		img.style.marginTop = "-" + div.offsetWidth + "px"
		div.insertBefore(img, div.firstChild)
		clearCol(col);
	}
	function addTweetToDiv(col, tweet) {
		var div = document.getElementById('col' + col)
		tweet.style.marginTop = "-" + 100 + "%"
		div.insertBefore(tweet, div.firstChild)
		clearCol(col);
	}
	function clearCol(col) {
		var div = document.getElementById('col' + col)
		for (var i = 0; i < div.childNodes.length; i++) {
			if (div.childNodes[i].offsetTop > (window.innerHeight + 800))
				div.removeChild(div.childNodes[i])
		};
	}
	function getCol() {
		var col = (Math.floor(Math.random() * columns) + 1)
		var i = 0;
		while (cols[col] && i < columns) {
			col++;
			i++;
			if (col > columns) {
				col = 1;
			}
		}
		if (i >= columns) {
			cols = {
				1: false,
				2: false,
				3: false,
				4: false
			}
		}
		else {
			cols[col] = true;
		}
		return col
	}

	function init() {
		var fullscreenBtn = document.getElementById('full-screen');
		var nofullscreenBtn = document.getElementById('hide-flash');
		var fakeImageCreator = document.getElementById('fake-image');
		fullscreenBtn.onclick = function() {
			launchFullscreen(document.documentElement);
			hideFlash();
		}
		nofullscreenBtn.onclick = function() {
			hideFlash();
		}
	}

	function hideFlash() {
		var flash = document.getElementById('flash')
		flash.className += 'animated';
		setTimeout(function() {
			flash.style.display = "none";
		}, 2000);
	}

	function launchFullscreen(element) {
	  if (element.requestFullscreen) {
      element.requestFullscreen();
    } else if (element.msRequestFullscreen) {
      element.msRequestFullscreen();
    } else if (element.mozRequestFullScreen) {
      element.mozRequestFullScreen();
    } else if (element.webkitRequestFullscreen) {
      element.webkitRequestFullscreen(Element.ALLOW_KEYBOARD_INPUT);
    }
	}
	</script>
</head>
<body>
	<div id="flash">
		<div id="controls">
			<div id="full-screen">
				Turn on fullscreen
			</div>
			<div id="hide-flash">
				Nah, fullscreen is for fools
			</div>
		</div>
	</div>
	{{#if viewer.show_ad}}
	<div id="created-by">
		Created by @viktorcarloskar
	</div>
	{{/if}}
	<div id="main" class="layout1">
		<div class="col" id="col1"></div>
		<div class="col" id="col2"></div>
		<div class="col" id="col3"></div>
		<div class="col" id="col4"></div>

	</div>
</body>
</html>
