<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="/css/reset.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<link rel="stylesheet" href="/css/viewer.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<script src="/socket.io/socket.io.js" type="text/javascript"></script>
	<script>
	document.onload = init;
	var socket = io.connect('http://yamana.herokuapp.com');
	socket.on('conn', function (data) {
		socket.emit('fetch', {var: window.location.pathname.split( '/' )[window.location.pathname.split( '/' ).length - 1]});
	});
	socket.on('instagram', function (data) {
		var main = document.getElementById('main');

		console.log(data);

		var sorted = data.sort(function(a, b){
        return parseInt(a.id) - parseInt(b.id);
    });

		sorted.forEach(function(image) {
			console.log(image);
			main.innerHTML = newImage(image) + main.innerHTML;
		})

	});
	function newImage(image) {
		var html = '<img class="image" src="' + image.images.standard_resolution.url + '">'
		return html;
	}

	function init() {
		launchFullscreen(document.documentElement);
	}

	function launchFullscreen(element) {
	  if(element.requestFullscreen) {
	    element.requestFullscreen();
	  } else if(element.mozRequestFullScreen) {
	    element.mozRequestFullScreen();
	  } else if(element.webkitRequestFullscreen) {
	    element.webkitRequestFullscreen();
	  } else if(element.msRequestFullscreen) {
	    element.msRequestFullscreen();
	  }
	}
	</script>
</head>
<body>
	<div id="main">

	</div>
</body>
</html>
