<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="/css/reset.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<link rel="stylesheet" href="/css/viewer.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<script src="/socket.io/socket.io.js" type="text/javascript"></script>
	<script>


	window.onload = init;

	var columns = 4;
	var cols = {
		1: false,
		2: false,
		3: false,
		4: false
	}

	var socket = io.connect('http://yamana.herokuapp.com');
	socket.on('conn', function (data) {
		socket.emit('fetch', {var: window.location.pathname.split( '/' )[window.location.pathname.split( '/' ).length - 1]});
	});
	socket.on('instagram', function (data) {
		var main = document.getElementById('main');

		console.log(data);

		var sorted = data.sort(function(a, b){
        return parseInt(a.id) - parseInt(b.id);
    });

		var i = 0;
		var interval = setInterval(function() {
			addImage(sorted[i]);
			i++;
			if (i >= sorted.length) {
				clearInterval(interval);
			}
		}, 500);
	});

	function addFakeImage() {
		var image = {
			images: {
				standard_resolution: {
					url: 'http://distilleryimage9.s3.amazonaws.com/3c62dff0a90211e38c92125e9fe3ffd9_8.jpg'
				}
			}
		}
		addImage(image);
	}

	function newImage(col, image) {
		var imgHeight = getImgHeight();
		var html = '<img class="image col' + col + '" style="top: -' + imgHeight + 'px;" src="' + image.images.standard_resolution.url + '">'
		return html;
	}

	function addImage(image) {
		var col = (Math.floor(Math.random() * columns) + 1)
		var i = 0;
		while (cols[col] && i < columns) {
			col++;
			i++;
			if (col > columns) {
				col = 1;
			}
		}
		if (i >= columns) {
			cols = {
				1: false,
				2: false,
				3: false,
				4: false
			}
		}
		else {
			cols[col] = true;
		}

		var img = newImage(col, image)
		addImgHtml(img);
		slideDown(col);
	}

	function slideDown(col, img) {
		var colClass = '.col' + col;
		var imgs = document.querySelectorAll(colClass);
		for (var i = 0; i < imgs.length; i++) {
			var topVal = (parseInt(imgs[i].style.top, 10) + getImgHeight()) + 'px'
			imgs[i].style.top = topVal;
		}
	}
	function addImgHtml(img) {
		var main = document.getElementById('main');
		main.innerHTML = img + main.innerHTML;
	}
	function getImgHeight() {
		var images = document.querySelectorAll('.image');
		var valOne = Math.floor(Math.random() * images.length)
		var valTwo = Math.floor(Math.random() * images.length)

		// IF they are the same value, generate a new
		while (valOne == valTwo && images.length > 1) {
			valTwo = Math.floor(Math.random() * images.length)
		}

		var imageOne = images[valOne]
		var imageTwo = images[valTwo]
		if ((imageOne || imageTwo) && (imageOne.clientHeight + imageTwo.clientHeight) > 0) {
			return Math.floor((imageOne.clientHeight + imageTwo.clientHeight) / 2);
		}
		else
			return (window.innerWidth / 4)
	}
	function setImgHeight() {

	}

	function init() {
			var fullscreenBtn = document.getElementById('full-screen');
			var nofullscreenBtn = document.getElementById('hide-flash');
			var fakeImageCreator = document.getElementById('fake-image');
			fullscreenBtn.onclick = function() {
				launchFullscreen(document.documentElement);
				hideFlash();
			}
			nofullscreenBtn.onclick = function() {
				hideFlash();
			}
			fakeImageCreator.onclick = function() {
				addFakeImage();
			}

	}

	function hideFlash() {
		var flash = document.getElementById('flash')
		flash.className += 'animated';
		setTimeout(function() {
			flash.style.display = "none";
		}, 2000);
	}

	function launchFullscreen(element) {
	  if (element.requestFullscreen) {
      element.requestFullscreen();
    } else if (element.msRequestFullscreen) {
      element.msRequestFullscreen();
    } else if (element.mozRequestFullScreen) {
      element.mozRequestFullScreen();
    } else if (element.webkitRequestFullscreen) {
      element.webkitRequestFullscreen(Element.ALLOW_KEYBOARD_INPUT);
    }
	}
	</script>
</head>
<body>
	<div id="flash">
		<div id="controls">
			<div id="full-screen">
				Turn on fullscreen
			</div>
			<div id="hide-flash">
				Nah, fullscreen is for fools
			</div>
		</div>
	</div>
	<div id="fake-image">
		DAS FAKE IMG
	</div>
	<div id="main" class="layout1">

	</div>
</body>
</html>
