/* FONT IMPORT */
@font-face {
  font-family: 'proxima_nova';
  src: url('../fonts/proximanova-regular-webfont.eot');
  src: url('../fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova-regular-webfont.woff') format('woff'), url('../fonts/proximanova-regular-webfont.ttf') format('truetype'), url('../fonts/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_bold';
  src: url('../fonts/proximanova-bold-webfont.eot');
  src: url('../fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova-bold-webfont.woff') format('woff'), url('../fonts/proximanova-bold-webfont.ttf') format('truetype'), url('../fonts/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_novalight_italic';
  src: url('../fonts/proximanova-lightitalic-webfont.eot');
  src: url('../fonts/proximanova-lightitalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova-lightitalic-webfont.woff') format('woff'), url('../fonts/proximanova-lightitalic-webfont.ttf') format('truetype'), url('../fonts/proximanova-lightitalic-webfont.svg#proxima_novalight_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova';
  src: url('../fonts/proximanova-light-webfont.eot');
  src: url('../fonts/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova-light-webfont.woff') format('woff'), url('../fonts/proximanova-light-webfont.ttf') format('truetype'), url('../fonts/proximanova-light-webfont.svg#proxima_novalight') format('svg');
  font-weight: 100;
  font-style: 100;
}
/* HELPING CLASSES */
.fl {
  float: left;
}
.fr {
  float: right;
}
/* THOSE HEADLINES */
h1 {
  font-family: "proxima_nova_bold", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue";
  font-size: 5.5rem;
  font-weight: bold;
}
h2 {
  font-family: "proxima_nova_bold", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue";
  font-size: 3.5rem;
  font-weight: bold;
}
h3 {
  font-family: "proxima_nova_bold", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue";
  font-size: 3rem;
  font-weight: 600;
}
h4 {
  font-family: "proxima_nova", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 2rem;
  font-weight: 400;
}
#login-form {
  display: none;
  top: 110px;
  position: absolute;
  right: 30px;
  overflow: visible;
  max-width: 300px;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate(20px, 0);
  -moz-transform: translate(20px, 0);
  -ms-transform: translate(20px, 0);
  -o-transform: translate(20px, 0);
  transition: visibility 0s 0.1s linear, opacity 0.1s ease-in, transform 0.1s ease-in;
  -webkit-transition: visibility 0s 0.1s linear, opacity 0.1s ease-in, -webkit-transform 0.1s ease-in;
  -moz-transition: visibility 0s 0.1s linear, opacity 0.1s ease-in, -moz-transform 0.1s ease-in;
}
#login-form .vg-popup:before {
  content: '';
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 0 23px 23px;
  border-color: transparent transparent #2c3035 transparent;
  position: absolute;
  top: -23px;
  right: 23px;
}
#login-form .vg-popup form > * {
  margin-top: 10px;
}
#login-form .vg-popup form > *:first-child {
  margin-top: 0;
}
#login-form .vg-btn-green {
  text-align: center;
  height: auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 14px;
  background-color: #59a553;
  color: #fafafa;
  font-size: 1.2rem;
  cursor: pointer;
  display: block;
  border: 0px solid white;
  box-sizing: border-box;
  width: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: "proxima_nova", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
  font-weight: 100;
}
#login-form .vg-tb {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 14px;
  font-size: 1.2rem;
  width: 100%;
  border: 1px solid #2d2d2d;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}
#login-form.active {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transition: opacity 0.1s ease-in, transform 0.1s ease-in;
  -webkit-transition: opacity 0.1s ease-in, -webkit-transform 0.1s ease-in;
  -moz-transition: opacity 0.1s ease-in, -moz-transform 0.1s ease-in;
}
.vg-popup {
  background-color: #2c3035;
  padding: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
::-webkit-input-placeholder {
  /* WebKit browsers */

  color: #5f5f5f;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */

  color: #5f5f5f;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */

  color: #5f5f5f;
}
:-ms-input-placeholder {
  /* Internet Explorer 10+ */

  color: #5f5f5f;
}
body {
  color: #0f0f0f;
  background-color: #fafafa;
  font-family: "proxima_nova", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.vertical-center-area {
  display: table;
}
.vertical-center-object {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
header {
  width: 100%;
  position: absolute;
  top: 0;
  height: 90px;
  background-color: #2f3439;
  font-family: "proxima_nova", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
  font-weight: 100;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
header .container {
  height: 100%;
  position: relative;
}
header #logo {
  height: 100%;
  float: left;
}
header #menu {
  float: right;
  height: 100%;
}
header #menu ul {
  height: 100%;
}
header #menu ul li {
  float: left;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  border-left: 1px solid #2c3035;
  font-size: 1.4rem;
  color: #fafafa;
  letter-spacing: 1.3px;
}
header #menu ul li a {
  cursor: pointer;
  color: #fafafa;
  text-decoration: none;
}
header #menu ul li:last-child {
  border-right: 1px solid #2c3035;
}
#content {
  margin-top: 90px;
  min-height: 500px;
}
footer {
  width: 100%;
  height: 200px;
  position: absolute;
  background-color: #2f3439;
}
/* ========================================================
   SIGNUP PAGE
*/
#signup {
  background: url(../img/bg-1.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#signup #signup-form {
  padding-top: 30px;
  padding-bottom: 30px;
}
#signup #signup-form #signup-dialog {
  width: 400px;
  background-color: #2c3035;
  padding: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  color: #fafafa;
  margin-left: auto;
  margin-right: auto;
}
#signup #signup-form #signup-dialog > p {
  margin-top: 10px;
}
#signup #signup-form #signup-dialog > p:first-child {
  margin-top: 0px;
}
#signup #signup-form .vg-input-wrapper {
  position: relative;
}
#signup #signup-form .vg-tb {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 14px;
  font-size: 1.2rem;
  width: 100%;
  border: 1px solid #2d2d2d;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  padding-left: 40px;
}
#signup #signup-form .vg-input-username-wrapper:before {
  font-family: 'FontAwesome';
  color: #5f5f5f;
  position: absolute;
  top: 21px;
  left: 14px;
  content: "";
}
#signup #signup-form .vg-input-email-wrapper:before {
  font-family: 'FontAwesome';
  color: #5f5f5f;
  position: absolute;
  top: 21px;
  left: 14px;
  content: "";
}
#signup #signup-form .vg-input-password-wrapper:before {
  font-family: 'FontAwesome';
  color: #5f5f5f;
  position: absolute;
  top: 21px;
  left: 14px;
  content: "";
}
#signup #signup-form .vg-btn {
  font-family: "proxima_nova", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
  font-weight: 100;
}
#signup #signup-form a.vg-btn {
  height: 100%;
}
#signup #signup-form .vg-btn-wrapper {
  position: relative;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}
#signup #signup-form .vg-btn-green {
  text-align: center;
  height: auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 14px;
  background-color: #59a553;
  color: #fafafa;
  font-size: 1.2rem;
  cursor: pointer;
  display: block;
  border: 0px solid white;
  box-sizing: border-box;
  width: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#signup #signup-form .signup-or {
  text-align: center;
  padding: 5px 0;
}
#signup #signup-form .vg-btn-google {
  text-align: center;
  height: auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 14px;
  background-color: #db4437;
  color: #fafafa;
  font-size: 1.2rem;
  cursor: pointer;
  display: block;
  border: 0px solid white;
  box-sizing: border-box;
  width: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#signup #signup-form .vg-btn-google-wrapper:before {
  font-family: 'FontAwesome';
  color: #fafafa;
  position: absolute;
  top: 18px;
  left: 14px;
  content: "";
}
#signup #signup-form .vg-btn-facebook-wrapper:before {
  font-family: 'FontAwesome';
  color: #fafafa;
  position: absolute;
  top: 18px;
  left: 14px;
  content: "";
}
#signup #signup-form .vg-btn-twitter-wrapper:before {
  font-family: 'FontAwesome';
  color: #fafafa;
  position: absolute;
  top: 18px;
  left: 14px;
  content: "";
}
#signup #signup-form .vg-btn-facebook {
  text-align: center;
  height: auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 14px;
  background-color: #3b5998;
  color: #fafafa;
  font-size: 1.2rem;
  cursor: pointer;
  display: block;
  border: 0px solid white;
  box-sizing: border-box;
  width: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#signup #signup-form .vg-btn-twitter {
  text-align: center;
  height: auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 14px;
  background-color: #55acee;
  color: #fafafa;
  font-size: 1.2rem;
  cursor: pointer;
  display: block;
  border: 0px solid white;
  box-sizing: border-box;
  width: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
