/* FONT IMPORT */
@font-face {
  font-family: 'proxima_nova';
  src: url('../fonts/proximanova-regular-webfont.eot');
  src: url('../fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova-regular-webfont.woff') format('woff'), url('../fonts/proximanova-regular-webfont.ttf') format('truetype'), url('../fonts/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova';
  src: url('../fonts/proximanova-bold-webfont.eot');
  src: url('../fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova-bold-webfont.woff') format('woff'), url('../fonts/proximanova-bold-webfont.ttf') format('truetype'), url('../fonts/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova';
  src: url('../fonts/proximanova-lightitalic-webfont.eot');
  src: url('../fonts/proximanova-lightitalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova-lightitalic-webfont.woff') format('woff'), url('../fonts/proximanova-lightitalic-webfont.ttf') format('truetype'), url('../fonts/proximanova-lightitalic-webfont.svg#proxima_novalight_italic') format('svg');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'proxima_nova';
  src: url('../fonts/proximanova-light-webfont.eot');
  src: url('../fonts/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova-light-webfont.woff') format('woff'), url('../fonts/proximanova-light-webfont.ttf') format('truetype'), url('../fonts/proximanova-light-webfont.svg#proxima_novalight') format('svg');
  font-weight: 100;
  font-style: normal;
}
/* HELPING CLASSES */
.fl {
  float: left;
}
.fr {
  float: right;
}
/* THOSE HEADLINES */
h1 {
  font-family: "proxima_nova", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 5.5rem;
  font-weight: bold;
}
h2 {
  font-family: "proxima_nova", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 3.5rem;
  font-weight: bold;
}
h3 {
  font-family: "proxima_nova", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 3rem;
  font-weight: bold;
}
h4 {
  font-family: "proxima_nova", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 2rem;
  font-weight: 400;
}
#login-form {
  display: none;
  top: 110px;
  position: absolute;
  right: 30px;
  overflow: visible;
  max-width: 300px;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  -webkit-transform: translate(20px, 0);
  -moz-transform: translate(20px, 0);
  -ms-transform: translate(20px, 0);
  -o-transform: translate(20px, 0);
  transition: visibility 0s 0.1s linear, opacity 0.1s ease-in, transform 0.1s ease-in;
  -webkit-transition: visibility 0s 0.1s linear, opacity 0.1s ease-in, -webkit-transform 0.1s ease-in;
  -moz-transition: visibility 0s 0.1s linear, opacity 0.1s ease-in, -moz-transform 0.1s ease-in;
}
#login-form .vg-popup:before {
  content: '';
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 0 23px 23px;
  border-color: transparent transparent #0e0f10 transparent;
  position: absolute;
  top: -23px;
  right: 23px;
}
#login-form .vg-popup form > * {
  margin-top: 10px;
}
#login-form .vg-popup form > *:first-child {
  margin-top: 0;
}
#login-form .vg-btn-green {
  text-align: center;
  height: auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 14px;
  background-color: #59a553;
  color: #fafafa;
  font-size: 1.2rem;
  cursor: pointer;
  display: block;
  border: 0px solid white;
  box-sizing: border-box;
  width: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: "proxima_nova", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
  font-weight: 100;
}
#login-form .vg-tb {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 14px;
  font-size: 1.2rem;
  width: 100%;
  border: 1px solid #2d2d2d;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}
#login-form.active {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transition: opacity 0.1s ease-in, transform 0.1s ease-in;
  -webkit-transition: opacity 0.1s ease-in, -webkit-transform 0.1s ease-in;
  -moz-transition: opacity 0.1s ease-in, -moz-transform 0.1s ease-in;
}
.vg-popup {
  background-color: #0e0f10;
  padding: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
::-webkit-input-placeholder {
  /* WebKit browsers */

  color: #5f5f5f;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */

  color: #5f5f5f;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */

  color: #5f5f5f;
}
:-ms-input-placeholder {
  /* Internet Explorer 10+ */

  color: #5f5f5f;
}
body,
html {
  height: 100%;
}
html {
  font-size: 100%;
}
@media only screen and (min-width: 720px) and (max-width: 959px) {
  html {
    font-size: 80%;
  }
}
@media only screen and (max-width: 719px) {
  html {
    font-size: 70%;
  }
}
body {
  color: #0f0f0f;
  background-color: #fafafa;
  font-family: "proxima_nova", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.vertical-center-area {
  display: table;
}
.vertical-center-object {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
header {
  z-index: 1000;
  width: 100%;
  position: absolute;
  top: 0;
  height: 90px;
  font-family: "proxima_nova", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
  font-weight: 100;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
header .container {
  height: 100%;
  position: relative;
}
header #logo {
  height: 100%;
  float: left;
}
@media only screen and (min-width: 720px) and (max-width: 959px) {
  header #logo {
    padding-left: 3%;
  }
}
@media only screen and (max-width: 719px) {
  header #logo {
    padding-left: 3%;
  }
}
header #menu {
  float: right;
  height: 100%;
}
header #menu > ul {
  height: 100%;
}
header #menu > ul > li {
  float: left;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1.4rem;
  color: #fafafa;
  letter-spacing: 1.3px;
  -webkit-transition: background 200ms ease-in;
  -moz-transition: background 200ms ease-in;
  -ms-transition: background 200ms ease-in;
  -o-transition: background 200ms ease-in;
  transition: background 200ms ease-in;
}
header #menu > ul > li a {
  cursor: pointer;
  color: #fafafa;
  text-decoration: none;
}
header #menu > ul > li a:hover {
  color: #7a7a7a;
}
header #menu > ul i {
  margin-left: 14px;
  font-size: 1.3rem;
}
header #menu-user {
  position: relative;
}
header #menu-user #user-menu {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  background: #0e0f10;
  width: 100%;
  transform: translate(0, -200%);
  -webkit-transform: translate(0, -200%);
  -moz-transform: translate(0, -200%);
  -o-transform: translate(0, -200%);
  -ms-transform: translate(0, -200%);
}
header #menu-user #user-menu li {
  width: 100%;
  height: 90px;
  border-top: 1px solid #131415;
}
header #menu-user #user-menu li a {
  height: 100%;
  width: 100%;
}
header #menu-user #user-menu li span {
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}
header #menu-user #user-menu li span i {
  float: right;
}
header #menu-user.active {
  background-color: #0e0f10;
}
header #menu-user.active #user-menu {
  transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
}
#content {
  height: 100%;
}
.main {
  padding-top: 90px;
}
footer {
  width: 100%;
  background-color: #131415;
}
/* ========================================================
   HOMEPAGE
*/
#home.main {
  padding-top: 0;
}
#home {
  height: 100%;
}
#home .left {
  float: left;
}
#home .right {
  float: left;
}
#home .container {
  overflow: inherit;
}
#home .one {
  padding-top: 90px;
  background: url(../img/bg-3.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 35% 0 6% 0;
  max-height: 800px;
  overflow: hidden;
  color: #fafafa;
}
#home .one .container {
  height: 100%;
}
#home .one .left {
  overflow: hidden;
  width: 60%;
  height: 100%;
}
#home .one .right {
  width: 40%;
}
#home .two {
  background-color: #d7d7d7;
  padding-top: 5%;
  overflow: hidden;
}
#home .two .left {
  width: 50%;
  position: relative;
}
#home .two .left #great-things {
  width: 80%;
  margin: 5% 15% 5% 5%;
}
#home .two .left #great-things ul li {
  position: relative;
  margin-bottom: 6%;
  overflow: hidden;
  padding: 0 0 0 12%;
}
#home .two .left #great-things ul li i {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.6rem;
  padding-top: 3px;
  width: 10%;
  text-align: center;
  margin-right: 3%;
  float: left;
}
#home .two .left #great-things ul li h5 {
  font-weight: bold;
  font-size: 2rem;
}
#home .two .left #great-things ul li p {
  font-size: 1.4rem;
  width: 87%;
  float: left;
}
#home .two .right {
  overflow: hidden;
  width: 50%;
}
#home .two .right #cinemadisplay {
  height: 100%;
  min-height: 600px;
  position: relative;
  overflow: hidden;
}
#home .two .right #cinemadisplay img {
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 51;
}
#home .two .right #cinemadisplay video {
  position: absolute;
  z-index: 50;
  width: 94%;
  margin-left: 3%;
  margin-top: 5%;
  top: 0;
  left: 0;
}
@media only screen and (max-width: 719px) {
  #home .two .left {
    width: 100%;
  }
  #home .two .left #great-things {
    width: 96%;
    margin: 2%;
  }
  #home .two .right {
    width: 100%;
  }
}
#home #flash {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #131415;
  z-index: 1000;
  opacity: 1;
  overflow: hidden;
}
#home #flash .logo {
  margin-top: 20%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 100px;
}
#home #flash img {
  display: block;
  position: absolute;
  margin-left: 140px;
  margin-top: 40px;
}
#home #flash .overlay {
  position: absolute;
  width: 400px;
  height: 100px;
  z-index: 1001;
  background: -moz-linear-gradient(left, rgba(19, 20, 21, 0) 0%, #131415 19%, #131415 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(19, 20, 21, 0)), color-stop(19%, #131415), color-stop(100%, #131415));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(left, rgba(19, 20, 21, 0) 0%, #131415 19%, #131415 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(left, rgba(19, 20, 21, 0) 0%, #131415 19%, #131415 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(left, rgba(19, 20, 21, 0) 0%, #131415 19%, #131415 100%);
  /* IE10+ */

  background: linear-gradient(to right, rgba(19, 20, 21, 0) 0%, #131415 19%, #131415 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00131415', endColorstr='#131415', GradientType=1);
  /* IE6-9 */

}
#home #flash.animated {
  -webkit-transition: all 1s ease-in 1.5s;
  -moz-transition: all 1s ease-in 1.5s;
  -ms-transition: all 1s ease-in 1.5s;
  -o-transition: all 1s ease-in 1.5s;
  opacity: 0;
}
#home #flash.animated .overlay {
  -webkit-transform: translate(300px, 0);
  -moz-transform: translate(300px, 0);
  -ms-transform: translate(300px, 0);
  -o-transform: translate(300px, 0);
  -webkit-transition: all 1s ease-in;
  -moz-transition: all 1s ease-in;
  -ms-transition: all 1s ease-in;
  -o-transition: all 1s ease-in;
}
#home #flash.animated img {
  opacity: 0;
  -webkit-transition: all 500ms ease-out 1.5s;
  -moz-transition: all 500ms ease-out 1.5s;
  -ms-transition: all 500ms ease-out 1.5s;
  -o-transition: all 500ms ease-out 1.5s;
}
/* ========================================================
   LOGIN PAGE
*/
#login {
  padding-top: 10%;
  height: 100%;
  background: url(../img/bg-3.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#login #login-form-page {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 400px;
  color: #fafafa;
  margin-left: auto;
  margin-right: auto;
}
#login #login-form-page form > p {
  margin-top: 10px;
}
#login #login-form-page form > p:first-child {
  margin-top: 0px;
}
#login #login-form-page .vg-input-wrapper {
  position: relative;
}
#login #login-form-page .vg-tb {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 14px;
  font-size: 1.2rem;
  width: 100%;
  border: 1px solid #2d2d2d;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  padding-left: 40px;
}
#login #login-form-page .vg-input-email-wrapper:before {
  font-family: 'FontAwesome';
  color: #5f5f5f;
  position: absolute;
  top: 21px;
  left: 14px;
  content: "";
}
#login #login-form-page .vg-input-password-wrapper:before {
  font-family: 'FontAwesome';
  color: #5f5f5f;
  position: absolute;
  top: 21px;
  left: 14px;
  content: "";
}
#login #login-form-page .vg-btn-green {
  text-align: center;
  height: auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 14px;
  background-color: #59a553;
  color: #fafafa;
  font-size: 1.2rem;
  cursor: pointer;
  display: block;
  border: 0px solid white;
  box-sizing: border-box;
  width: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* ========================================================
   SIGNUP PAGE
*/
#signup {
  height: 100%;
  background: url(../img/bg-3.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#signup #signup-form {
  padding-top: 30px;
  padding-bottom: 30px;
}
#signup #signup-form #signup-dialog {
  width: 400px;
  background-color: #131415;
  padding: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  color: #fafafa;
  margin-left: auto;
  margin-right: auto;
}
#signup #signup-form #signup-dialog > p {
  margin-top: 10px;
}
#signup #signup-form #signup-dialog > p:first-child {
  margin-top: 0px;
}
#signup #signup-form .vg-input-wrapper {
  position: relative;
}
#signup #signup-form .vg-tb {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 14px;
  font-size: 1.2rem;
  width: 100%;
  border: 1px solid #2d2d2d;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  padding-left: 40px;
}
#signup #signup-form .vg-input-username-wrapper:before {
  font-family: 'FontAwesome';
  color: #5f5f5f;
  position: absolute;
  top: 21px;
  left: 14px;
  content: "";
}
#signup #signup-form .vg-input-email-wrapper:before {
  font-family: 'FontAwesome';
  color: #5f5f5f;
  position: absolute;
  top: 21px;
  left: 14px;
  content: "";
}
#signup #signup-form .vg-input-password-wrapper:before {
  font-family: 'FontAwesome';
  color: #5f5f5f;
  position: absolute;
  top: 21px;
  left: 14px;
  content: "";
}
#signup #signup-form .vg-btn {
  font-family: "proxima_nova", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
  font-weight: 100;
}
#signup #signup-form a.vg-btn {
  height: 100%;
}
#signup #signup-form .vg-btn-wrapper {
  position: relative;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}
#signup #signup-form .vg-btn-green {
  text-align: center;
  height: auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 14px;
  background-color: #59a553;
  color: #fafafa;
  font-size: 1.2rem;
  cursor: pointer;
  display: block;
  border: 0px solid white;
  box-sizing: border-box;
  width: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#signup #signup-form .signup-or {
  text-align: center;
  padding: 5px 0;
}
#signup #signup-form .vg-btn-google {
  text-align: center;
  height: auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 14px;
  background-color: #db4437;
  color: #fafafa;
  font-size: 1.2rem;
  cursor: pointer;
  display: block;
  border: 0px solid white;
  box-sizing: border-box;
  width: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#signup #signup-form .vg-btn-google-wrapper:before {
  font-family: 'FontAwesome';
  color: #fafafa;
  position: absolute;
  top: 18px;
  left: 14px;
  content: "";
}
#signup #signup-form .vg-btn-facebook-wrapper:before {
  font-family: 'FontAwesome';
  color: #fafafa;
  position: absolute;
  top: 18px;
  left: 14px;
  content: "";
}
#signup #signup-form .vg-btn-twitter-wrapper:before {
  font-family: 'FontAwesome';
  color: #fafafa;
  position: absolute;
  top: 18px;
  left: 14px;
  content: "";
}
#signup #signup-form .vg-btn-facebook {
  text-align: center;
  height: auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 14px;
  background-color: #3b5998;
  color: #fafafa;
  font-size: 1.2rem;
  cursor: pointer;
  display: block;
  border: 0px solid white;
  box-sizing: border-box;
  width: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#signup #signup-form .vg-btn-twitter {
  text-align: center;
  height: auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 14px;
  background-color: #55acee;
  color: #fafafa;
  font-size: 1.2rem;
  cursor: pointer;
  display: block;
  border: 0px solid white;
  box-sizing: border-box;
  width: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* ========================================================
	DASHBOARD PAGE
*/
#dashboard {
  background: url(../img/bg-3.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}
#dashboard .viewer {
  width: 24%;
  float: left;
  background: #fafafa;
  margin-right: 1%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
#dashboard .viewer a {
  display: block;
  padding: 3%;
  overflow: hidden;
  color: #0f0f0f;
}
#dashboard .viewer .text {
  overflow: hidden;
  width: 100%;
}
#dashboard .viewer .text > .left {
  width: 100%;
  font-size: 2rem;
  font-weight: bold;
  float: left;
}
#dashboard .viewer .text > .right {
  padding-top: 4%;
  float: left;
  font-size: 0.8rem;
  color: #5f5f5f;
}
#dashboard .viewer .text > .right .time {
  color: #0f0f0f;
}
