// COLORS

@color-black: #0f0f0f;
@color-white: #FAFAFA;

@color-placeholder: #5f5f5f;
@color-blue-div: #2f3439;
@color-darker-blue-div: #2c3035;
@color-confirm-green: #59a553;
@color-placeholder: #5f5f5f;

@color-google-red: #db4437;
@color-facebook-blue: #3b5998;
@color-twitter-blue: #55acee;

// VARIABLES 

@std-width: 1200px;
@std-percentage-width: 96%;
@std-border-radius: 3px;
@header-height: 90px;
@min-height: 500px;

@std-font-family: "proxima_nova", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
@std-font-family-bold: "proxima_nova_bold", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue";
@std-font-family-light: "proxima_nova_light", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue";
@std-font-family-italic: "proxima_novalight_italic", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue";

	//MEDIA VARIABLES

@desktop:   ~"only screen and (min-width: 960px)";
@tablet:    ~"only screen and (min-width: 720px) and (max-width: 959px)";
@mobile: 	~"only screen and (max-width: 719px)";


// Importing after all this so I could use variables
@import "mixins.less";
@import "objects.less";

/* FONT IMPORT */

@font-face {
  font-family: 'proxima_nova';
  src: url('../fonts/proximanova-regular-webfont.eot');
  src: url('../fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova-regular-webfont.woff') format('woff'), url('../fonts/proximanova-regular-webfont.ttf') format('truetype'), url('../fonts/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
//@font-face {
//  font-family: 'proxima_nova_semibold';
//  src: url('../fonts/proximanova-semibold-webfont.eot');
//  src: url('../fonts/proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova-semibold-webfont.woff') format('woff'), url('../fonts/proximanova-semibold-webfont.ttf') format('truetype'), url('../fonts/proximanova-semibold-webfont.svg#proxima_novasemibold') format('svg');
//  font-weight: normal;
//  font-style: normal;
//}
@font-face {
	font-family: 'proxima_nova_bold';
	src: url('../fonts/proximanova-bold-webfont.eot');
	src: url('../fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova-bold-webfont.woff') format('woff'), url('../fonts/proximanova-bold-webfont.ttf') format('truetype'), url('../fonts/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'proxima_novalight_italic';
	src: url('../fonts/proximanova-lightitalic-webfont.eot');
	src: url('../fonts/proximanova-lightitalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova-lightitalic-webfont.woff') format('woff'), url('../fonts/proximanova-lightitalic-webfont.ttf') format('truetype'), url('../fonts/proximanova-lightitalic-webfont.svg#proxima_novalight_italic') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'proxima_nova';
    src: url('../fonts/proximanova-light-webfont.eot');
    src: url('../fonts/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-light-webfont.woff') format('woff'),
         url('../fonts/proximanova-light-webfont.ttf') format('truetype'),
         url('../fonts/proximanova-light-webfont.svg#proxima_novalight') format('svg');
    font-weight: 100;
    font-style: 100;
}


/* HELPING CLASSES */

.fl {
	float: left;
}
.fr {
	float: right;
}
/* THOSE HEADLINES */

h1 {
	font-family: @std-font-family-bold;
	font-size: 5.5rem;
	font-weight: bold;
}

h2 {
	font-family: @std-font-family-bold;
	font-size: 3.5rem;
	font-weight: bold;
}
h3 {
	font-family: @std-font-family-bold;
	font-size: 3rem;
	font-weight: 600;
}
h4 {
	font-family: @std-font-family;
	font-size: 2rem;
	font-weight: 400;
}

#login-form {
	display: none;
	top: @header-height + 20px;
	position: absolute;
	right: 30px;
	overflow: visible;
	max-width: 300px;
	opacity: 0;
	visibility:hidden;
	z-index: 1000;
	.transform(translate(20px, 0));
	transition: visibility 0s 0.1s linear , opacity 0.1s ease-in, transform 0.1s ease-in;
	-webkit-transition: visibility 0s 0.1s linear, opacity 0.1s ease-in, -webkit-transform 0.1s ease-in;
	-moz-transition: visibility 0s 0.1s linear, opacity 0.1s ease-in, -moz-transform 0.1s ease-in;

	.vg-popup:before {
		content: '';
		width: 0px;
		height: 0px;
		border-style: solid;
		border-width: 0 0 23px 23px;
		border-color: transparent transparent #2c3035 transparent;
		position: absolute;
		top: -23px;
		right: 23px;
	}
	.vg-popup form > * {
		margin-top: 10px;
	}
	.vg-popup form > *:first-child {
		margin-top: 0;
	}
	.vg-btn-green {
		.vg-btn(@color-confirm-green, @color-white);
		font-family: @std-font-family !important; 
		font-weight: 100;
	}
	.vg-tb {
		.vg-textbox(100%);
	}
}
#login-form.active {
	opacity: 1;
	visibility:visible;
	.transform(translate(0, 0));
	transition: opacity 0.1s ease-in, transform 0.1s ease-in;
	-webkit-transition: opacity 0.1s ease-in, -webkit-transform 0.1s ease-in;
	-moz-transition: opacity 0.1s ease-in, -moz-transform 0.1s ease-in;
}
.vg-popup {
	.vg-popup(@color-darker-blue-div);
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    @color-placeholder;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    @color-placeholder;;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    @color-placeholder;;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    @color-placeholder;;
}

body {
	color: @color-black;
	background-color: @color-white;
	font-family: @std-font-family;

	font-smooth: always;
    -webkit-font-smoothing : antialiased; // none | subpixel-antialiased
}

.container {
	width: 100%;
	max-width: @std-width;
	margin-left: auto;
	margin-right: auto;
}
.vertical-center-area {
	display: table;
}
.vertical-center-object {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

header
{
	z-index: 1000;
	width: 100%;
	position: absolute; 
	top: 0;
	height: @header-height;
	background-color: @color-blue-div;
	font-family: @std-font-family !important; 
	font-weight: 100;
	.no-select();
	.container {
		height: 100%;
		position: relative;
	}
	#logo {
		height: 100%;
		float: left;
	}
	#menu {
		float: right;
		height: 100%;
		> ul {
			height: 100%;
			> li {
				float: left;
				height: 100%;
				padding-left: 20px;
				padding-right: 20px;
				border-left: 1px solid @color-darker-blue-div;
				background-color: @color-blue-div;
				font-size: 1.4rem;
				color: @color-white;
				letter-spacing: 1.3px;
				a {
					cursor: pointer;
					color: @color-white;
					text-decoration: none;
				}
				-webkit-transition: background 200ms ease-in;
				-moz-transition: background 200ms ease-in;
				-ms-transition: background 200ms ease-in;
				-o-transition: background 200ms ease-in;
				transition: background 200ms ease-in;
			}
			> li:last-child {
				border-right: 1px solid @color-darker-blue-div;	
			}
			> li:hover {
				background-color: @color-darker-blue-div;
			}
			i {
				margin-left: 14px;
				font-size: 1.3rem;
			}
		}
	}
	#menu-user {
		position: relative;
		#user-menu {
			display: block;
			position: absolute;
			left: 0;
			top: 100%;
			background: @color-darker-blue-div;
			width: 100%;
			li {
				width: 100%;
				height: @header-height;
				border-top: 1px solid @color-blue-div;
				a {
					height: 100%;
					width: 100%;
				}
				span {
					text-align: left;
					padding-left: 20px;
					padding-right: 20px;
					i {
						float: right;
					}
				}
			}
			transform: translate(0, -200%);
			-webkit-transform: translate(0, -200%);
			-moz-transform: translate(0, -200%);
			-o-transform: translate(0, -200%);
			-ms-transform: translate(0, -200%);
		}
	}
	#menu-user.active {
		background-color: @color-darker-blue-div;
		#user-menu {
			transform: translate(0, 0);
			-webkit-transform: translate(0, 0);
			-moz-transform: translate(0, 0);
			-o-transform: translate(0, 0);
			-ms-transform: translate(0, 0);
		}
	}
}

#content {
	margin-top: @header-height;
	min-height: @min-height;
	background: url(../img/bg-1.png) no-repeat center center; 
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
}


footer {
	width: 100%;
	height: 200px;
	position: absolute;
	background-color: @color-blue-div;
}

/* ========================================================
   HOMEPAGE
*/

#home {
    position: relative;
    overflow: hidden;
    padding-top: 5%;
    .left {
    	float: left;
    	background-color: rgba(255, 255, 0, 0.2);
    }
    .right {
    	float: left;
    	background-color: rgba(255, 0, 0, 0.2);
    }
    .one {
    	overflow: hidden;
    	.left {
    		width: 40%;
    	}
    	.right {
    		width: 60%;
    	}
    }

}

/* ========================================================
   LOGIN PAGE
*/
#login {
	padding-top: 30px;
	min-height: @min-height;
	#login-form-page {
		padding-top: 30px;
		padding-bottom: 30px;
		width: 400px;
		color: @color-white;
		margin-left: auto;
		margin-right: auto;
		form > p {
			margin-top: 10px;
		}
		form > p:first-child {
			margin-top: 0px;
		}
		.vg-input-wrapper {
			position: relative;
		}
		.vg-tb {
			.vg-textbox(100%);
			padding-left: 40px;
		}
		.vg-input-email-wrapper:before {
			font-family: 'FontAwesome';
		    color:@color-placeholder;
		    position: absolute;
		    top: 21px;
		    left: 14px;
		    content: "";
		}
		.vg-input-password-wrapper:before {
			font-family: 'FontAwesome';
		    color:@color-placeholder;
		    position: absolute;
		    top: 21px;
		    left: 14px;
		    content: "";
		}
		.vg-btn-green {
			.vg-btn(@color-confirm-green, @color-white);
		}
	}
}

/* ========================================================
   SIGNUP PAGE
*/

#signup {
	#signup-form {
		padding-top: 30px;
		padding-bottom: 30px;
		#signup-dialog {
			width: 400px;
			.vg-popup(@color-darker-blue-div);
			color: @color-white;
			margin-left: auto;
			margin-right: auto;
		}
		#signup-dialog > p {
			margin-top: 10px;
		}
		#signup-dialog > p:first-child {
			margin-top: 0px;
		}
		.vg-input-wrapper {
			position: relative;
		}
		.vg-tb {
			.vg-textbox(100%);
			padding-left: 40px;
		}
		.vg-input-username-wrapper:before {
			font-family: 'FontAwesome';
		    color:@color-placeholder;
		    position: absolute;
		    top: 21px;
		    left: 14px;
		    content: "";
		}
		.vg-input-email-wrapper:before {
			font-family: 'FontAwesome';
		    color:@color-placeholder;
		    position: absolute;
		    top: 21px;
		    left: 14px;
		    content: "";
		}
		.vg-input-password-wrapper:before {
			font-family: 'FontAwesome';
		    color:@color-placeholder;
		    position: absolute;
		    top: 21px;
		    left: 14px;
		    content: "";
		}
		.vg-btn {
			font-family: @std-font-family !important; 
			font-weight: 100;
		}
		a.vg-btn { 
			height: 100%;
		}
		.vg-btn-wrapper {
			position: relative;
			width: 50%;
			margin-right: auto;
			margin-left: auto;
		}
		.vg-btn-green {
			.vg-btn(@color-confirm-green, @color-white);
			
		}
		.signup-or {
			text-align: center;
			padding: 5px 0;
		}
		.vg-btn-google {
			.vg-btn(@color-google-red, @color-white);
		}
		.vg-btn-google-wrapper:before {
			font-family: 'FontAwesome';
		    color:@color-white;
		    position: absolute;
		    top: 18px;
		    left: 14px;
		    content: "";
		}
		.vg-btn-facebook-wrapper:before {
			font-family: 'FontAwesome';
		    color:@color-white;
		    position: absolute;
		    top: 18px;
		    left: 14px;
		    content: "";
		}
		.vg-btn-twitter-wrapper:before {
			font-family: 'FontAwesome';
		    color:@color-white;
		    position: absolute;
		    top: 18px;
		    left: 14px;
		    content: "";
		}
		.vg-btn-facebook {
			.vg-btn(@color-facebook-blue, @color-white);
		}
		.vg-btn-twitter {
			.vg-btn(@color-twitter-blue, @color-white);
		}
	}
}
