// COLORS

/* GULP IS COOL */

@color-black: #0f0f0f;
@color-white: #FAFAFA;

@color-placeholder: #5f5f5f;
//@color-blue-div: #2f3439;
@color-blue-div: #131415;
//@color-darker-blue-div: #2c3035;
@color-darker-blue-div: #0e0f10;
@color-smooth-green: #5cc1af;
@color-confirm-green: #59a553;
@color-placeholder: #5f5f5f;
@color-new-item: #c0c0c0;
@color-mid-gray: #d7d7d7;

@color-google-red: #db4437;
@color-facebook-blue: #3b5998;
@color-twitter-blue: #55acee;

// VARIABLES

@std-width: 1200px;
@std-percentage-width: 96%;
@std-border-radius: 3px;
@header-height: 90px;
@min-height: 500px;

@std-font-family: "proxima_nova", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
@std-font-family-bold: "proxima_nova_bold", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue";
@std-font-family-light: "proxima_nova_light", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue";
@std-font-family-italic: "proxima_novalight_italic", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue";

	//MEDIA VARIABLES

@desktop:   ~"only screen and (min-width: 960px)";
@tablet:    ~"only screen and (min-width: 720px) and (max-width: 959px)";
@mobile: 	~"only screen and (max-width: 719px)";


// Importing after all this so I could use variables
@import "mixins.less";
@import "objects.less";

/* FONT IMPORT */

@font-face {
  font-family: 'proxima_nova';
  src: url('../fonts/proximanova-regular-webfont.eot');
  src: url('../fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova-regular-webfont.woff') format('woff'), url('../fonts/proximanova-regular-webfont.ttf') format('truetype'), url('../fonts/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
//@font-face {
//  font-family: 'proxima_nova_semibold';
//  src: url('../fonts/proximanova-semibold-webfont.eot');
//  src: url('../fonts/proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova-semibold-webfont.woff') format('woff'), url('../fonts/proximanova-semibold-webfont.ttf') format('truetype'), url('../fonts/proximanova-semibold-webfont.svg#proxima_novasemibold') format('svg');
//  font-weight: normal;
//  font-style: normal;
//}
@font-face {
	font-family: 'proxima_nova';
	src: url('../fonts/proximanova-bold-webfont.eot');
	src: url('../fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/proximanova-bold-webfont.woff') format('woff'),
			 url('../fonts/proximanova-bold-webfont.ttf') format('truetype'),
			 url('../fonts/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'proxima_nova';
	src: url('../fonts/proximanova-lightitalic-webfont.eot');
	src: url('../fonts/proximanova-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/proximanova-lightitalic-webfont.woff') format('woff'),
			 url('../fonts/proximanova-lightitalic-webfont.ttf') format('truetype'),
			 url('../fonts/proximanova-lightitalic-webfont.svg#proxima_novalight_italic') format('svg');
	font-weight: 100;
	font-style: italic;
}
@font-face {
    font-family: 'proxima_nova';
    src: url('../fonts/proximanova-light-webfont.eot');
    src: url('../fonts/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-light-webfont.woff') format('woff'),
         url('../fonts/proximanova-light-webfont.ttf') format('truetype'),
         url('../fonts/proximanova-light-webfont.svg#proxima_novalight') format('svg');
    font-weight: 100;
    font-style: normal;
}


/* HELPING CLASSES */

.fl {
	float: left;
}
.fr {
	float: right;
}
/* THOSE HEADLINES */

h1 {
	font-family: @std-font-family;
	font-size: 5.5rem;
	font-weight: bold;
}

h2 {
	font-family: @std-font-family;
	font-size: 3.5rem;
	font-weight: bold;
}
h3 {
	font-family: @std-font-family;
	font-size: 3rem;
	font-weight: bold;
}
h4 {
	font-family: @std-font-family;
	font-size: 2rem;
	font-weight: 400;
}

#login-form {
	display: none;
	top: @header-height + 20px;
	position: absolute;
	right: 30px;
	overflow: visible;
	max-width: 300px;
	opacity: 0;
	visibility:hidden;
	z-index: 1000;
	.transform(translate(20px, 0));
	transition: visibility 0s 0.1s linear , opacity 0.1s ease-in, transform 0.1s ease-in;
	-webkit-transition: visibility 0s 0.1s linear, opacity 0.1s ease-in, -webkit-transform 0.1s ease-in;
	-moz-transition: visibility 0s 0.1s linear, opacity 0.1s ease-in, -moz-transform 0.1s ease-in;

	.vg-popup:before {
		content: '';
		width: 0px;
		height: 0px;
		border-style: solid;
		border-width: 0 0 23px 23px;
		border-color: transparent transparent @color-darker-blue-div transparent;
		position: absolute;
		top: -23px;
		right: 23px;
	}
	.vg-popup form > * {
		margin-top: 10px;
	}
	.vg-popup form > *:first-child {
		margin-top: 0;
	}
	.vg-btn-green {
		.vg-btn(@color-confirm-green, @color-white);
		font-family: @std-font-family !important;
		font-weight: 100;
	}
	.vg-tb {
		.vg-textbox(100%);
	}
}
#login-form.active {
	opacity: 1;
	visibility:visible;
	.transform(translate(0, 0));
	transition: opacity 0.1s ease-in, transform 0.1s ease-in;
	-webkit-transition: opacity 0.1s ease-in, -webkit-transform 0.1s ease-in;
	-moz-transition: opacity 0.1s ease-in, -moz-transform 0.1s ease-in;
}
.vg-popup {
	color: @color-black;
	.vg-popup(@color-white);
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    @color-placeholder;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    @color-placeholder;;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    @color-placeholder;;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    @color-placeholder;;
}

body, html {
  height: 100%;
}

html {
	font-size: 100%;
}
@media @tablet {
	html {
		font-size: 80%;
	}
}
@media @mobile {
	html {
		font-size: 70%;
	}
}

body {
	color: @color-black;
	background-color: @color-white;
	font-family: @std-font-family;

	font-smooth: always;
    -webkit-font-smoothing : antialiased; // none | subpixel-antialiased
}

.container {
	width: 100%;
	max-width: @std-width;
	margin-left: auto;
	margin-right: auto;
}
.vertical-center-area {
	display: table;
}
.vertical-center-object {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

header
{
	z-index: 1000;
	width: 100%;
	position: absolute;
	top: 0;
	height: @header-height;
	//background-color: @color-blue-div;
	font-family: @std-font-family !important;
	font-weight: normal;
	.no-select();
	.container {
		height: 100%;
		position: relative;
	}
	#logo {
		height: 100%;
		float: left;
	}
	@media @tablet {
		#logo {
			padding-left: 3%;
		}
	}
	@media @mobile {
		#logo {
			padding-left: 3%;
		}
	}
	#menu {
		float: right;
		height: 100%;
		> ul {
			height: 100%;
			> li {
				float: left;
				height: 100%;
				padding-left: 20px;
				padding-right: 20px;
				//border-left: 1px solid @color-darker-blue-div;
				//background-color: @color-blue-div;
				font-size: 1.4rem;
				letter-spacing: 1.3px;
				a {
					cursor: pointer;
					color: fade(@color-white, 50%);
					text-decoration: none;
					-webkit-transition: all 400ms cubic-bezier(.6,0,.4,.99);
					-moz-transition: all 400ms cubic-bezier(.6,0,.4,.99);
					-ms-transition: all 400ms cubic-bezier(.6,0,.4,.99);
					-o-transition: all 400ms cubic-bezier(.6,0,.4,.99);
					transition: all 400ms cubic-bezier(.6,0,.4,.99);
				}
				-webkit-transition: background 200ms ease-in;
				-moz-transition: background 200ms ease-in;
				-ms-transition: background 200ms ease-in;
				-o-transition: background 200ms ease-in;
				transition: background 200ms ease-in;
			}
			> li:last-child {
				//border-right: 1px solid @color-darker-blue-div;
			}
			> li a:hover{
				//background-color: @color-darker-blue-div;
				color: @color-white;
			}
			i {
				margin-left: 14px;
				font-size: 1.3rem;
			}
		}
	}
	#menu-user {
		position: relative;

		#user-menu {
			display: block;
			position: absolute;
			left: 0;
			top: 100%;
			background: @color-darker-blue-div;
			width: 100%;
			li {
				width: 100%;
				height: @header-height;
				border-top: 1px solid @color-blue-div;
				a {
					height: 100%;
					width: 100%;
				}
				span {
					text-align: left;
					padding-left: 20px;
					padding-right: 20px;
					i {
						float: right;
					}
				}
			}
			transform: translate(0, -200%);
			-webkit-transform: translate(0, -200%);
			-moz-transform: translate(0, -200%);
			-o-transform: translate(0, -200%);
			-ms-transform: translate(0, -200%);
		}
	}
	#menu-user.active {
		background-color: @color-darker-blue-div;
		#user-menu {
			transform: translate(0, 0);
			-webkit-transform: translate(0, 0);
			-moz-transform: translate(0, 0);
			-o-transform: translate(0, 0);
			-ms-transform: translate(0, 0);
		}
	}
}

#content {
	//margin-top: @header-height;
	height: 100%;
}
.main {
	padding-top: @header-height;
}


footer {
	width: 100%;

	background-color: @color-blue-div;
}

/* ========================================================
   HOMEPAGE
*/
#home.main {
	padding-top: 0;
}
#home {
	height: 100%;
    .left {
    	//float: left;
    }
    .right {
    	//float: left;
    }
		.container {
			overflow: inherit;
		}
    .one {
		padding-top: @header-height;
		//background: url(../img/bg-3.png) no-repeat center center;
		background: @color-smooth-green;
		-webkit-background-size: cover;
			 -moz-background-size: cover;
				 -o-background-size: cover;
						background-size: cover;
		height: 90vh;
		//max-height: 90%;
		overflow: hidden;
		color: @color-white;
		.container {
			height: 100%;
		}
		.svg-container {
			float: left;
			position: relative;
			margin-top: 50%;
			margin-left: 15%;
			transform: translate(0, -50%);
			width: 70%;
			z-index: 1;
			//.center();
			@media @desktop {
				width: 60%;
				margin-left: 20%;
			}
		}
		svg {
			width: 100%;
			height: auto;
			opacity: 0.4;
			@animation-time: 16s;
			@step-time: @animation-time/12;
			.image-box {
				animation: move-image-borders @animation-time cubic-bezier(.6,0,.4,.99) infinite;
			}
			.col1:nth-child(1) {
				.home-svg-animation-delay(@step-time, 1, 1);
			}
			.col2:nth-child(1) {
				.home-svg-animation-delay(@step-time, 0, 1);
			}
			.col3:nth-child(1) {
				.home-svg-animation-delay(@step-time, 2, 1);
			}
			.col4:nth-child(1) {
				.home-svg-animation-delay(@step-time, 3, 1);
			}
			// Row 2
			.col1:nth-child(2) {
				.home-svg-animation-delay(@step-time, 1, 2);
			}
			.col2:nth-child(2) {
				.home-svg-animation-delay(@step-time, 0, 2);
			}
			.col3:nth-child(2) {
				.home-svg-animation-delay(@step-time, 2, 2);
			}
			.col4:nth-child(2) {
				.home-svg-animation-delay(@step-time, 3, 2);
			}
			// Row 3
			.col1:nth-child(3) {
				.home-svg-animation-delay(@step-time, 1, 3);
			}
			.col2:nth-child(3) {
				.home-svg-animation-delay(@step-time, 0, 3);
			}
			.col3:nth-child(3) {
				.home-svg-animation-delay(@step-time, 2, 3);
			}
			.col4:nth-child(3) {
				.home-svg-animation-delay(@step-time, 3, 3);
			}
			/*@-webkit-keyframes move-image-borders {
			  0%   { transform: translate(0% 0); }
			  100% { transform: translate(100% 0); }
			}
			@-moz-keyframes move-image-borders {
			  0%   { opacity: 0; }
			  100% { opacity: 1; }
			}
			@-o-keyframes move-image-borders {
			  0%   { opacity: 0; }
			  100% { opacity: 1; }
			}*/
			@keyframes move-image-borders {
			  0%   { transform: translate(0, 0%);}
			  8.33% { transform: translate(0, 100%) }
			  33.3% { transform: translate(0, 100%) }
			  41.66% { transform: translate(0, 200%) }
			  66.66% { transform: translate(0, 200%) }
			  75% { transform: translate(0, 300%) }
			  100% { transform: translate(0, 300%); }
			  /*0%   { opacity: 0; }
			  100% { opacity: 1; }*/
			}
		}
    	.left {
    		float: left;
			overflow:hidden;
			z-index: 2;
			width: 100%;
			//height: 100%;
			> div {
			}
    	}
    	.right {
    		width: 40%;
    	}
    }
	.two {
		//background-color: @color-mid-gray;
		padding-top: 5%;
		overflow:hidden;
		.left {
			width: 50%;
			position: relative;
			#great-things {
				width: 80%;
				margin: 5% 15% 5% 5%;
				ul {
					li {
						position: relative;
						margin-bottom: 6%;
						overflow:hidden;
						padding: 0 0 0 12%;
						i {
							position: absolute;
							top: 0;
							left: 0;
							font-size: 1.6rem;
							padding-top: 3px;
							width: 10%;
							text-align: center;
							margin-right: 3%;
							float:left;
						}
						h5 {
							font-weight: bold;
							font-size: 2rem;
						}
						p {
							font-size: 1.4rem;
							width: 87%;
							float:left;
						}
					}
				}
			}
		}
		.right {
			overflow: hidden;
			width: 50%;
			#cinemadisplay {
				height: 100%;
				min-height: 600px;
				position: relative;
				overflow: hidden;
				img {
					overflow: hidden;
					position: relative;
					width:100%;
					z-index: 51;
				}
				video {
					position: absolute;
					z-index: 50;
					width: 94%;
					margin-left: 3%;
					margin-top: 5%;
					top:0;
					left: 0;
				}
			}
		}
		@media @mobile {
			.left {
				width: 100%;
				#great-things {
					width: 96%;
					margin: 2%;
				}
			}
			.right {
				width: 100%;
			}
		}
	}
	.three {

	}
	#flash {
		position: fixed;
		width: 100%;
		height: 100%;
		background-color: @color-smooth-green;
		z-index: 1000;
		opacity: 1;
		overflow: hidden;
		.logo {
			margin-top: 20%;
			position: relative;
			margin-left: auto;
			margin-right: auto;
			width: 400px;
			height: 100px;
		}
		img {
			display:block;
			position: absolute;
			margin-left: 140px;
			margin-top: 40px;
		}
		.overlay {
			position: absolute;
			width: 400px;
			height: 100px;
			z-index: 1001;
			background: -moz-linear-gradient(left,  fade(@color-smooth-green, 0%) 0%, fade(@color-smooth-green, 100%) 19%, fade(@color-smooth-green, 100%) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,fade(@color-smooth-green, 0%)), color-stop(19%,fade(@color-smooth-green, 100%)), color-stop(100%,fade(@color-smooth-green, 100%))); /* Chrome,Safari4+ */
	        background: -webkit-linear-gradient(left,  fade(@color-smooth-green, 0%) 0%, fade(@color-smooth-green, 100%) 19%, fade(@color-smooth-green, 100%) 100%); /* Chrome10+,Safari5.1+ */
	        background: -o-linear-gradient(left,  fade(@color-smooth-green, 0%) 0%, fade(@color-smooth-green, 100%) 19%, fade(@color-smooth-green, 100%) 100%); /* Opera 11.10+ */
	        background: -ms-linear-gradient(left,  fade(@color-smooth-green, 0%) 0%, fade(@color-smooth-green, 100%) 19%, fade(@color-smooth-green, 100%) 100%); /* IE10+ */
	        background: linear-gradient(to right,  fade(@color-smooth-green, 0%) 0%, fade(@color-smooth-green, 100%) 19%, fade(@color-smooth-green, 100%) 100%); /* W3C */
	        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00131415', endColorstr='#131415',GradientType=1 ); /* IE6-9 */
		}
	}
	#flash.animated {
		.transition(all 1s ease-in 1.5s);

		.overlay {
			.transform(translate(300px, 0));
			.transition(all 1s ease-in);
		}
		img {
			opacity: 0;
			.transition(all 500ms ease-out 1.5s);
		}
		opacity: 0;
	}

}

/* ========================================================
   LOGIN PAGE
*/
#login {
	padding-top: 10%;
	height: 100%;
	//background: url(../img/bg-3.png) no-repeat center center;
	background: @color-smooth-green;
	-webkit-background-size: cover;
		-moz-background-size: cover;
			-o-background-size: cover;
					background-size: cover;
	#login-form-page {
		padding-top: 30px;
		padding-bottom: 30px;
		width: 400px;
		color: @color-white;
		margin-left: auto;
		margin-right: auto;
		form > p {
			margin-top: 10px;
		}
		form > p:first-child {
			margin-top: 0px;
		}
		.vg-input-wrapper {
			position: relative;
		}
		.vg-tb {
			.vg-textbox(100%);
			padding-left: 40px;
		}
		.vg-input-email-wrapper:before {
			font-family: 'FontAwesome';
		    color:@color-placeholder;
		    position: absolute;
		    top: 21px;
		    left: 14px;
		    content: "";
		}
		.vg-input-password-wrapper:before {
			font-family: 'FontAwesome';
		    color:@color-placeholder;
		    position: absolute;
		    top: 21px;
		    left: 14px;
		    content: "";
		}
		.vg-btn-green {
			.vg-btn(@color-confirm-green, @color-white);
		}
	}
}

/* ========================================================
   SIGNUP PAGE
*/

#signup {
	height: 100%;
	//background: url(../img/bg-3.png) no-repeat center center;
	background: @color-smooth-green;
	-webkit-background-size: cover;
		-moz-background-size: cover;
			-o-background-size: cover;
					background-size: cover;
	#signup-form {
		padding-top: 30px;
		padding-bottom: 30px;
		#signup-dialog {
			width: 400px;
			.vg-popup(@color-blue-div);
			color: @color-white;
			margin-left: auto;
			margin-right: auto;
		}
		#signup-dialog > p {
			margin-top: 10px;
		}
		#signup-dialog > p:first-child {
			margin-top: 0px;
		}
		.vg-input-wrapper {
			position: relative;
		}
		.vg-tb {
			.vg-textbox(100%);
			padding-left: 40px;
		}
		.vg-input-username-wrapper:before {
			font-family: 'FontAwesome';
		    color:@color-placeholder;
		    position: absolute;
		    top: 21px;
		    left: 14px;
		    content: "";
		}
		.vg-input-email-wrapper:before {
			font-family: 'FontAwesome';
		    color:@color-placeholder;
		    position: absolute;
		    top: 21px;
		    left: 14px;
		    content: "";
		}
		.vg-input-password-wrapper:before {
			font-family: 'FontAwesome';
		    color:@color-placeholder;
		    position: absolute;
		    top: 21px;
		    left: 14px;
		    content: "";
		}
		.vg-btn {
			font-family: @std-font-family !important;
			font-weight: 100;
		}
		a.vg-btn {
			height: 100%;
		}
		.vg-btn-wrapper {
			position: relative;
			width: 50%;
			margin-right: auto;
			margin-left: auto;
		}
		.vg-btn-green {
			.vg-btn(@color-confirm-green, @color-white);

		}
		.signup-or {
			text-align: center;
			padding: 5px 0;
		}
		.vg-btn-google {
			.vg-btn(@color-google-red, @color-white);
		}
		.vg-btn-google-wrapper:before {
			font-family: 'FontAwesome';
		    color:@color-white;
		    position: absolute;
		    top: 18px;
		    left: 14px;
		    content: "";
		}
		.vg-btn-facebook-wrapper:before {
			font-family: 'FontAwesome';
		    color:@color-white;
		    position: absolute;
		    top: 18px;
		    left: 14px;
		    content: "";
		}
		.vg-btn-twitter-wrapper:before {
			font-family: 'FontAwesome';
		    color:@color-white;
		    position: absolute;
		    top: 18px;
		    left: 14px;
		    content: "";
		}
		.vg-btn-facebook {
			.vg-btn(@color-facebook-blue, @color-white);
		}
		.vg-btn-twitter {
			.vg-btn(@color-twitter-blue, @color-white);
		}
	}
}


/* ========================================================
	DASHBOARD PAGE
*/

#dashboard {
	//background: url(../img/bg-3.png) no-repeat center center;
	background: @color-smooth-green;
	-webkit-background-size: cover;
		-moz-background-size: cover;
			-o-background-size: cover;
					background-size: cover;

	height: 100%;

	.viewer {
		box-sizing: border-box;
		width: 24%;
		float:left;
		background: @color-white;
		margin-right: 1%;
		margin-bottom: 1%;
		.rounded-corners(4px);
		a {
			display: block;
			padding: 3%;
			overflow: hidden;
			color: @color-black;
		}
		.text {
			overflow:hidden;
			width: 100%;
			> .left {
				width: 100%;
				font-size: 2rem;
				font-weight: bold;
				float: left;
			}
			> .right {
				padding-top: 4%;
				float: left;
				font-size: 0.8rem;
				color: @color-placeholder;
				.time {
					color: @color-black;
				}
			}
		}
	}
	.new_viewer {
		background: transparent;
		border: 4px solid @color-new-item;
		color: @color-new-item;
		opacity: 0.6;
		cursor: pointer;
		.fa-plus {
			display: block;
			text-align: center;
			margin: 2% auto;
			font-size: 2rem;
		}
		.fa-plus:before {
		}
		.transition(opacity 100ms ease-in);
	}
	.new_viewer:hover {
		opacity: 1;
	}
	.new_viewer_form {
		height: 0;
		overflow: hidden;
	}
}
