@import "mixins.less";

@color-white: #Fafafa;

@font-face {
  font-family: 'proxima_nova';
  src: url('../fonts/proximanova-bold-webfont.eot');
  src: url('../fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/proximanova-bold-webfont.woff') format('woff'),
       url('../fonts/proximanova-bold-webfont.ttf') format('truetype'),
       url('../fonts/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@std-font-family: "proxima_nova", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

body {
  font-family:@std-font-family;
  width: 100%;
  height: 100%;
  overflow: hidden;

}

#flash {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  #controls {
    top: 20%;
    width: 40%;
    position: fixed;
    left: 50%;
    margin: 0 0 0 -20%;
    overflow: hidden;
    display: inline-block;

    > div {
      width: 100%;
      text-align: center;
    }
  }
  #full-screen {
    cursor: pointer;
    float: left;
    padding: 20px;
    font-size: 3rem;
    background-color: @color-white;
    .rounded-corners(4px);
  }
  #hide-flash {
    cursor: pointer;
    margin-top: 5%;
    float: left;
    color: @color-white;
    text-decoration: underline;
  }
}
#flash.animated {
  opacity: 0;
  .transition(all 500ms ease-in);
}
#main {
  height: 100%;
  overflow: hidden;
}
.layout1 {
  .image {
    position: absolute;
    width: 25%;
    .transition(all 500ms ease-in-out);
  }
  .col1 {
    left: 0;
  }
  .col2 {
    left: 25%;
  }
  .col3 {
    left: 50%;
  }
  .col4 {
    left: 75%;
  }
}
.layout2 {
  .image {
    float: left;
    height: 33.3%;
  }
}
#fake-image {
  z-index: 1000;
  position: fixed;
  bottom: 0;
  right: 0;
}
